{% load static %}

<nav class="navbar navbar-expand-lg navbar-light navbar" style="background-color: #e3f2fd;">


    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger">
        
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Clarusway Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:postlist' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:postcreate' %}">New Post</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:register' %}">Register</a>
          </li>
            {% endif %}
      </ul>
      </div>
    </div>
  </nav>
